---
import BaseLayout from '@/layouts/BaseLayout.astro'
import siteConfig from '@/site-config'
---

<BaseLayout description={siteConfig.description}>
  <article class="prose">
    <h1 class="text-title">Lucas Rozenberg</h1>
    <p>Software developer</p>
    <p>
      <img width="640" height="360" src="/hero.jpg" alt="Hero Image" />
    </p>
    <p>
      Hi, I'm Lucas Rozenberg, a software developer from Argentina. I'm
      passionate about technology and I love to learn new things. I'm currently
      working at DigPar as a full-stack developer.
    </p>

    <hr class="hr-line" />
    <p class="flex gap-x-4 gap-y-2 flex-wrap">
      Find me on

      {
        siteConfig.socialLinks.map((link) => (
          <a
            aria-label={link.text}
            href={link.href}
            target="_blank"
            class="prose-link"
          >
            <i class:list={[link.icon]} />
            {link.text}
          </a>
        ))
      }
    </p>
    <p>
      If you want to get in touch, you can send me an email at{' '}
      <a
        prose-link
        aria-label={siteConfig.email}
        href={`mailto:${siteConfig.email}`}
      >
        {siteConfig.email}
      </a>.
    </p>
  </article>
</BaseLayout>
